.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3f3f3f;
  padding: 1rem 2rem 1rem 1rem;
  background-color: #0d1117;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo > span {
  font-weight: bold;
}

.navbar__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__notification-wrapper {
  position: relative;
}

.navbar__notification-icon {
  cursor: pointer;
}

.navbar__notification-modal {
  position: absolute;
  top: 40px;
  left: -70px;
  width: 300px;
  background-color: #252d3f;
  border-radius: 5px;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.menu-hidden {
  display: none;
}

.notification-modal__header {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 0.25rem 0;
}

.notification-modal__header > h3 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.notification-modal__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.navbar__user {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.navbar__user > span {
  font-weight: bold;
}

.navbar__menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 999;
  height: 100vh;
  max-height: unset;
  padding: 1.5rem 0;
  animation: navbar-menu-animation 500ms;
}

.menu__close-btn {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: #9c9c9c;
  transition: color 250ms !important;
}

.menu__close-btn:hover {
  color: #ddd;
}

.menu-modal__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.navbar__menu-overlay > nav {
  flex: 1;
  display: flex;
  margin-top: 1.5rem;
}

.navbar__menu-overlay > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__menu-overlay > nav > ul > li {
  margin: 1rem 0;
}

.navbar__menu-overlay > nav > ul > li > a {
  font-size: 1.5rem;
  color: #9c9c9c;
}

.navbar__menu-overlay > nav > ul > li > a.active {
  color: #ddd;
}

.navbar__menu-overlay-hidden {
  display: none;
}

@keyframes navbar-menu-animation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@media (min-width: 781px) {
  .navbar__menu-icon {
    display: none !important;
  }
}

@media (max-width: 780px) {
  .navbar__user {
    display: none;
  }

  .navbar__notification-modal {
    left: -210px;
  }
}

@media (max-width: 481px) {
  .navbar__icons > svg:nth-of-type(1) {
    display: none;
  }
}
